a{
    text-decoration: none;
}
.dots{
    /* background-color: red; */
    display: flex;
    list-style-type: none;
    position: absolute;
    /* background-color: red; */
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
.dots li button{
    background: #ffffff;
    border: none;
    color: transparent;
    width: 30px;
    height: 8px;
    border-radius: 10px;
    margin: 0 5px;
}
.dots li.slick-active button{
    width: 40px;
    background: #FF6F61;
}
#sliders_parent {
    position: relative;
    transition: 0.5s  ease;
}
#sliders_parent .icon-right,#sliders_parent .icon-left {
    background-color: #FF6F61;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 55;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
#sliders_parent .icon-left{
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
#sliders_parent .banner-contents{
    position: relative;
}
#sliders_parent .banner-contents h4{
    position: absolute;
    top: 0;
    transition: 0.5s;
    transition-duration: 0.8s;
    visibility: hidden;
    opacity: 0;
}
#sliders_parent .slick-active .banner-contents h4{
    top: 35%;
    transition: 0.5s;
    transition-duration: 0.8s;
    opacity: 1;
    visibility: visible;
}
#sliders_parent .banner-contents  a {
    color: #ffffff;
}
#sliders_parent .banner-contents  a span{
    background-color: #FF6F61;
    display: inline;
    padding: 10px 20px;
}

 #sliders_parent .banner-contents  h1{
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    transition-duration: 0.8s;
    visibility: hidden;
    opacity: 0;
}
#sliders_parent .slick-active .banner-contents h1 {
    bottom: 54%;
    transition: 0.5s;
    transition-delay: 0.3s;
    transition-duration: 0.8s;
    opacity: 1;
    visibility: visible;
}